<div class="jumbotron">
    <h4 class="text-center" id="heading">To-do List</h4>
</div>

<div *ngIf="!userSet" class="input-group">
  <input type="text" class="form-control" placeholder="Enter your name" (keyup.enter)="getCollection(username)" #username>
  <button class="btn btn-primary" (click)="getCollection(username)">Enter</button>
</div>

<div *ngIf="userSet">

  <div class="mx-auto text-center" style="width: 100%; margin-top: -10px" id="top">
    <p class="lead" style="font-weight: bold">Welcome {{userData.name}}, you have {{userData.total-userData.completed}} tasks remaining.</p>
  </div>

  <div class="mx-auto text-center" style="width: 100%; margin-top: -10px; margin-left: 10px; font-size: 20px">
    <span>Total tasks: {{userData.total}}</span>
    <span style="margin-left: 20px">Completed tasks: {{userData.completed}}</span>
  </div>

  <div class="input-group" style="margin-top: 15px">
    <input type="text" class="form-control" placeholder="Enter task name" (keyup.enter)="onAdd(itemTitle)" #itemTitle>
    <button class="btn btn-primary" (click)="onAdd(itemTitle)">+</button>
  </div>

  <div style="margin-top: 5px">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of toDoListArray">
        <span class="hover-cursor" (click)="swapCheck(item.$key, item.isChecked)">
          <i class="far" style="color: blue" [ngClass]="item.isChecked ? 'fa-check-circle' : 'fa-circle'"></i>
        </span>
        <span class="hover-cursor" style="margin-left: 10px" (click)="swapStarred(item.$key, item.isStarred)">
          <i class="fa-star" style="color: gold" [ngClass]="item.isStarred ? 'fas' : 'far'"></i>
        </span>
        <span [ngClass]="item.isChecked ? 'striked': 'not-striked'" id="title">{{item.title}}</span>
        <span class="hover-cursor text-danger float-right" (click)="deleteItem(item.$key)">
          <i class="fas fa-trash"></i>
        <span style="margin-left: 5px">Delete</span>
        </span>
      </li>
    </ul>
  </div>

  <div class="mx-auto text-center" style="width: 200px; margin-top: 30px;">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

</div>